{% extends "subPractice/_base.html" %}
{% block contain %}
<h1 class="service-heading-title">Service Page</h1>
<div class="service-container">
    <div class="service-div">
        <h3 class="service-title">Web Development Services</h3>
        <p class="service-description">Offer website design, responsive web applications, and web maintenance.
            Specialize in frameworks like React, Angular, or Bootstrap.</p>
    </div>
    <div class="service-div">
        <h3 class="service-title">Resume Writing and Review</h3>
        <p class="service-description">Provide professional resume writing and review services.
            Help job seekers create strong and impressive resumes.</p>
    </div>
    <div class="service-div">
        <h3 class="service-title">Technical Support and IT Services</h3>
        <p class="service-description">Provide technical support or IT services.
            Help businesses with troubleshooting, setting up networks, or cybersecurity consulting.</p>
    </div>
    <div class="service-div">
        <h3 class="service-title">Educational Content Creation</h3>
        <p class="service-description">Create and sell educational content or online courses in your area of expertise.
            Include programming tutorials, financial literacy courses, or web development bootcamps.</p>
    </div>
    <div class="service-div">
        <h3 class="service-title">Freelance Writing or Editing</h3>
        <p class="service-description">Offer content writing, editing, or proofreading services.
            Provide services for blog posts, technical manuals, and other content.</p>
    </div>
    <div class="service-div">
        <h3 class="service-title">Virtual Assistance</h3>
        <p class="service-description">Provide administrative support and virtual assistance services.
            Help with tasks like email management, scheduling, and data entry.</p>
    </div>
    <div class="service-div">
        <h3 class="service-title">Online Tutoring</h3>
        <p class="service-description">Offer online tutoring services in subjects you're proficient in.
            Provide personalized lessons and academic support to students.</p>
    </div>
</div>
{% endblock %}
