{% extends "subPractice/_base.html" %}
{% block contain %}
<div class="signup-container">
    <h1 class="signup-title">Sign Up Page</h1>
    <form class="signup-form" action="" method="POST">
        {% csrf_token %}
        {{signup}}
        <label for="first-name" class="signup-label">First Name</label>
        <input type="text" id="first-name" class="signup-input">
        
        <label for="last-name" class="signup-label">Last Name</label>
        <input type="text" id="last-name" class="signup-input">
        
        <label for="email" class="signup-label">Email</label>
        <input type="email" id="email" class="signup-input">
        
        <label for="password" class="signup-label">Password</label>
        <input type="password" id="password" class="signup-input">
        
        <button class="signup-button">Sign Up</button>
    </form>
</div>
{% endblock %}
<!-- {% block footer %}
<h1>Sign Up ka footer hai</h1>
{% endblock %} -->
